/* color palette: https://coolors.co/palette/f4f1de-e07a5f-3d405b-7eb59a-f2cc8f */
:root {
    --cream: #F4F1DE;
    --orange: #E07A5F;
    --purple: #3D405B;
    --green: #7eb59a;
    --tan: #F2CC8F;
    --off-white: #F9F9F9;
    --muted-purple: #72717b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--purple);
}

html {
    scroll-behavior: smooth;
    background-color: var(--off-white);
}

body {
    background-color: var(--off-white);
}

nav {
    background-color: var(--off-white);
    padding: 0 2rem 0 2rem;
    transition: all 0.2s linear;
    z-index: 999;
    border-radius: 0 0 2rem 2rem;
}

#nav {
    position: fixed;
    width: 100%;
}

.show-nav {
    transform: translateY(-100%);
}

nav li {
    width: 100%;
    margin-right: 1rem;
    font-size: 1.1rem;
}

#navbar-name {
    color: var(--purple);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    transition: all 0.1s linear;
}

.navbar-brand:hover {
    scale: 1.1;
}

.nav-link {
    font-weight: 500;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    scale: 1.025;
    color: var(--purple);
    box-shadow: -0.2rem 0.2rem 0 var(--purple);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

section {
    padding: 2rem 5rem 2rem 5rem;
}

hr {
    border: solid var(--orange);
    border-radius: 1rem;
    border-width: 0.15rem;
    opacity: 0.75;
}

#home {
    padding-top: 5rem;
    min-height: 100vh;
}

.header-title {
    color: var(--green);
    font-weight: 700;
    font-size: 4rem;
}

.header-paragraph {
    font-size: 1.25rem;
}

.link-button {
    text-decoration: none;
    color: var(--off-white);
    border-radius: 0.5rem;
    background-color: var(--orange);
    padding: 0.7rem;
    font-size: 1.25rem;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

.link-button:hover {
    color: white;
    scale: 1.025;
    box-shadow: -0.3rem 0.3rem 0 var(--purple);
}

.card {
    display: block;
    background-color: var(--off-white);
    padding: 2rem;
    border-radius: 1rem;
    border: 0.3rem solid var(--purple);
    box-shadow: -0.3rem 0.3rem 0 var(--orange);
    transition: all 0.2s linear;
    margin-top: 1.5rem;
}

.card:hover {
    scale: 1.05;
    transform:  rotate(-0.75deg);
}

.project-title {
    color: var(--green);
}

.project-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
}

.project-date {
    font-size: 1.1rem;
    font-weight: 300;
}

.project-description {
    color: var(--muted-purple);
}

.project-skills {
    margin-top: 1rem;
}

.skill {
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--green);
    color: var(--green);
    display: inline-block;
    margin-top: 0.5rem;
}

.svg {
    transition: all 0.2s linear;
}

.svg:hover {
    scale: 1.2;
}

#more {
    margin-top: 1.5rem;
    text-align: center;
}

footer {
    /* height: 15vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -0.3em 0 var(--purple);
    padding: 1rem 0;
    border-radius: 3rem;
}

#profiles a {
    margin: 0 0.5rem;
}

#about {
    padding-top: 4rem;
}

#about-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

#about-description p {
    width: 60%;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1rem;
    color: var(--muted-purple);
}

#about-description img {
    width: 25rem;
    height: 25rem;
    border: 0.3rem solid var(--purple);
    box-shadow: -0.4rem 0.4rem 0 var(--orange);
    margin: 1rem 0;
    border-radius: 0.5rem;
}

#about-img p {
    color: var(--muted-purple);
}

.other-img {
    width: 18rem;
    height: 18rem;
    margin: 2rem 0;
    border: 0.3rem solid var(--purple);
    box-shadow: -0.4rem 0.4rem 0 var(--green);
    border-radius: 0.5rem;
}

@media (max-width: 1400px) {
    .other-img {
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 1200px) {
    section {
        padding: 2rem;
    }
    #about-description {
        flex-direction: column;
        align-items: center;
    }
    #about-description p {
        width: 100%;
    }
    #about-description img {
        width: 20rem;
        height: 20rem;
    }
    .other-img {
        width: 20rem;
        height: 20rem;
    }
}

@media (max-width: 768px) {
    .header-title {
        font-size: 1.5rem;
    }
    .header-paragraph {
        font-size: 0.75rem;
    }
    .link-button {
        font-size: 0.75rem;
    }
    .card {
        padding: 1rem;
    }
    #projects {
        padding: 1rem;
    }
    .project-description, .project-subtitle, .project-date, .skill {
        font-size: 0.75rem;
    }
    #about-description img {
        width: 18rem;
        height: 18rem;
    }
    .other-img {
        width: 18rem;
        height: 18rem;
    }
    #about-description p {
        font-size: 0.9rem;
    }
    h2 {
        text-align: center;
    }
}